<ng-container *ngIf="this.errorLoading">
    <div class="alert alert-danger">
        <i class="fas fa-exclamation-triangle"></i>&nbsp;Ha ocurrido algún error cargando la información para filtrar. Recargue la página e inténtelo de nuevo.
    </div>
</ng-container>
<ng-container *ngIf="!this.errorLoading">
    <ng-container *ngIf="this.status < 2">
        <div class="alert alert-info">
            <i class="fas fa-circle-notch fa-spin"></i>&nbsp;Cargando filtros...
        </div>
    </ng-container>
    <form class="row" [formGroup]="filterForm" *ngIf="this.status === 2">
        <div class="col-4 geography rectangle">
            <h1 class="nameFiltre">Lugar</h1>
            <label for="region">Selecciona una región</label>
            <select name="region" id="region" class="form-select" formControlName="region" (change)="onRegionChange()">
                <option value="all" selected>Todas</option>
                <option *ngFor="let region of this.regions" [value]="region.cod_region">{{ region.name_region }}
                </option>
            </select>
            <label for="province">Selecciona una provincia</label>
            <select name="province" id="province" class="form-select" formControlName="province"
                (change)="onProvinceChange()">
                <option value="all">Todas</option>
                <option *ngFor="let province of this.provinces" [value]="province.cod_province">{{
                    province.name_province }}</option>
            </select>
            <label for="village">Selecciona una ciudad</label>
            <select name="village" id="village" class="form-select" formControlName="village">
                <option value="all">Todas</option>
                <option *ngFor="let village of this.villages" [value]="village.cod_village">{{ village.city }}</option>
            </select>
        </div>
        <div class="col-4 time rectangle">
            <h1 class="nameFiltre">Fecha</h1>
            <div class="form-check">
                <input type="radio" id="all" name="dateSelection" value="all" class="form-check-input"
                    formControlName="dateSelection" />
                <label for="all" class="form-check-label">Todo (hasta actualidad)</label>
            </div>
            <div class="form-check">
                <input type="radio" id="week" name="dateSelection" value="week" class="form-check-input"
                    formControlName="dateSelection" />
                <label for="week" class="form-check-label">Semana en vigor</label>
            </div>
            <div class="form-check">
                <input type="radio" id="month" name="dateSelection" value="month" class="form-check-input"
                    formControlName="dateSelection" />
                <label for="month" class="form-check-label">Mes en vigor</label>
            </div>
            <div class="form-check">
                <input type="radio" id="quarter" name="dateSelection" value="quarter" class="form-check-input"
                    formControlName="dateSelection" />
                <label for="quarter" class="form-check-label">Trimestre en vigor</label>
            </div>
            <div class="form-check">
                <input type="radio" id="year" name="dateSelection" value="year" class="form-check-input"
                    formControlName="dateSelection" />
                <label for="year" class="form-check-label">Año en vigor</label>
            </div>
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="dateSelection" type="radio" value="date"
                        formControlName="dateSelection">
                </div>
                <input matInput [matDatepicker]="datePicker" class="form-control" placeholder="Día"
                    formControlName="date">
                <mat-datepicker #datePicker></mat-datepicker>
                <button class="btn btn-outline-secondary" (click)="datePicker.open()" type="button"
                    [disabled]="filterForm.get('date')?.disabled"><i class="fas fa-calendar"></i></button>
            </div>
            <div class="input-group">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" name="dateSelection" type="radio" value="range"
                        formControlName="dateSelection">
                </div>
                <mat-date-range-input [rangePicker]="pickerRange"
                    [ngClass]="{'form-control': true, 'input-disabled': filterForm.get('range')?.get('start')?.disabled}"
                    formGroupName="range">
                    <input matStartDate placeholder="Rango" formControlName="start" class="form-control">
                    <input matEndDate formControlName="end" class="form-control">
                </mat-date-range-input>
                <mat-date-range-picker #pickerRange></mat-date-range-picker>
                <button class="btn btn-outline-secondary" (click)="pickerRange.open()" type="button"
                    [disabled]="filterForm.get('range')?.get('start')?.disabled"><i
                        class="fas fa-calendar"></i></button>
            </div>
        </div>
        <div class="col-4 product rectangle" formGroupName="product">
            <h1 class="nameFiltre">Características</h1>
            <div class="input-group mb-3">
                <label for="size" class="input-group-text">Talla</label>
                <select name="size" id="size" class="form-select" formControlName="size">
                    <option value="all">Todas</option>
                    <option *ngFor="let size of productProperties.sizes" [value]="size">{{ size }}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="color" class="input-group-text">Color</label>
                <select name="color" id="color" class="form-select" formControlName="color">
                    <option value="all">Todos</option>
                    <option *ngFor="let colour of productProperties.colours" [value]="colour">{{ colour }}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="product" class="input-group-text">Producto</label>
                <select name="product" id="product" class="form-select" formControlName="product">
                    <option value="all">Todos</option>
                    <option *ngFor="let product of productProperties.names" [value]="product">{{ product }}</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="brand" class="input-group-text">Marca</label>
                <select name="brand" id="brand" class="form-select" formControlName="brand">
                    <option value="all">Todas</option>
                    <option *ngFor="let brand of productProperties.brands" [value]="brand">{{ brand }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button (click)="sendFormDTO()" type="button" class="btn btn-outline-secondary"><i
                        class="fas fa-binoculars"></i> Buscar</button>
            </div>
        </div>
    </form>
</ng-container>