input.mat-input-element {
    margin-top: 0 !important;
}

.input-disabled{
    background-color: #e9ecef;
}

.input-disabled::placeholder{
    color: #6c757d;
}

.rectangle {
    border-right: 1px solid #607d8b;
    margin: 1rem 0;
}

.nameFiltre {
    text-align: center;
    font-size: larger;
}
