<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DSS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarSupportedContent">
            <button class="btn btn-sm btn-outline-secondary" (click)="openExcelModal()">
                <i class="fas fa-file-excel"></i>&nbsp;Descargar informe
            </button>
            <ng-container *ngIf="this.currentURL === '/charts'">
                <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/']"><i class="fas fa-table"></i>&nbsp;Visualizar tabla de datos</button>
            </ng-container>
            <ng-container *ngIf="this.currentURL !== '/charts'">
                <button class="btn btn-sm btn-outline-secondary" [routerLink]="['/charts']"><i class="fas fa-chart-bar"></i>&nbsp;Visualizar gráficos</button>
            </ng-container>
        </div>
    </div>
</nav>
<app-download-excel-report></app-download-excel-report>