#charts {
    padding: 0 20px 0 20px;
    position: relative;
}

#numCharts {
    margin-bottom: 10px;
    font-size: 15px;
}

#numCharts input[type=radio] {
    display: none;
}

#numCharts label {
    margin: 4px;
    padding: 8px;
    background: #CFD8DC;
    color: black;
    min-width: 100px;
    cursor: pointer;
}

#numCharts label:hover {
    background: #90A4AE;
}

#numCharts input[type=radio]:checked + label {
    background: #607d8b;
    color: #FAFAFA;
}