<div>
    Número de gráficos:
    <div id="numCharts" (change)="this.changedNumberCharts.emit(this.numCharts)">
        <input type="radio" name="numCharts" id="numCharts_1" value="1" [checked]="this.numCharts === 1" (change)="this.numCharts = 1">
        <label for="numCharts_1">1</label>
        <input type="radio" name="numCharts" id="numCharts_2" value="2" [checked]="this.numCharts === 2" (change)="this.numCharts = 2">
        <label for="numCharts_2">2</label>
        <input type="radio" name="numCharts" id="numCharts_4" value="4" [checked]="this.numCharts === 4" (change)="this.numCharts = 4">
        <label for="numCharts_4">4</label>
    </div>
</div>
