<div *ngIf="this.chart.status === 0">
	<div class="alert alert-info"><i class="fas fa-circle-notch fa-spin"></i>&nbsp;Cargando información inicial...</div>
</div>

<div *ngIf="this.chart.status === 1">
	<div class="row">
		<div class="input-group mb-3">
			<span class="input-group-text">Fecha</span>
			<select name="month" id="month" class="form-select" [(ngModel)]="this.dto.month">
				<option *ngFor="let month of this.months; let i = index" [value]="i + 1">{{ month }}</option>
			</select>
			<select name="year" id="year" class="form-select" [(ngModel)]="this.dto.year">
				<option *ngFor="let year of this.years" [value]="year">{{ year }}</option>
			</select>
			<button class="btn btn-secondary" type="button"
				(click)="this.loadChart(this.dto.month, this.dto.year)">Obtener gráfica</button>
		</div>
	</div>
</div>

<div class="alert alert-info" *ngIf="this.chart.status === 2">
	<i class="fas fa-circle-notch fa-spin"></i>&nbsp;Cargando...
</div>

<div style="display: block" *ngIf="this.chart.status === 3">
	<canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
	</canvas>
</div>

<div class="alert alert-danger" *ngIf="this.chart.status === -1">
	<i class="fas fa-exclamation-triangle"></i>&nbsp;Se ha producido un error al cargar el gráfico. Inténtelo de nuevo.
</div>