<div class="alert alert-secondary my-4" *ngIf="listOfResults.length === 0">
    No hay contenido o se está cargando.
</div>
<table class="table my-4" *ngIf="listOfResults.length !== 0">
    <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Tienda</th>
            <th scope="col">Fecha</th>
            <th scope="col">Ventas</th>
            <th scope="col">Existencias</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sale of listOfResults">
            <td>{{ sale.cod_product }}</td>
            <td>{{ sale.cod_shop }}</td>
            <td>{{ sale.cod_time }}</td>
            <td>{{ sale.sales }}</td>
            <td>{{ sale.stocks }}</td>
        </tr>
    </tbody>
</table>
<!-- Pagination - Temporarily disabled -->
<!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item page-link arrow">
            <i class="fal fa-arrow-left"></i>
        </li>
        <li class="page-item"><a class="page-link numbers" href="#">1</a></li>
        <li class="page-item"><a class="page-link numbers" href="#">2</a></li>
        <li class="page-item"><a class="page-link numbers" href="#">3</a></li>
        <li class="page-item page-link arrow">
            <i class="fal fa-arrow-right"></i>
        </li>
    </ul>
</nav> -->
