/*Align the text to the center of the column cell*/
.table {
  text-align: center;
}

/*The color of the cells in even-numbered columns*/
tr:nth-child(even) {
  background-color: rgba(144, 164, 174, 0.3);
}
.arrow{
  color: black;
}
.page-link{
  background-color: transparent;
  border: 0;
}
.numbers{
  color: #ac4906;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  padding-right: 15px;
  padding-left: 15px;
}
