<div class="container">
    <app-charts-filter (changedNumberCharts)="this.numCharts = $event"></app-charts-filter>
    <ng-container *ngIf="this.numCharts === 1">
        <app-charts-instance></app-charts-instance>
    </ng-container>
    <ng-container *ngIf="this.numCharts === 2">
        <div class="row">
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="this.numCharts === 4">
        <div class="row">
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
            <div class="col-6">
                <app-charts-instance></app-charts-instance>
            </div>
        </div>
    </ng-container>    
</div>

