<div class="container">
    <div class="row">
        <app-portlet-filter (fulfilledDTOEvent)="sendRequest($event)"></app-portlet-filter>
    </div>
    <div class="row mx-1 my-3" *ngIf="this.loading">
        <div class="alert alert-info">
            <i class="fas fa-circle-notch fa-spin"></i>&nbsp;Cargando resultados...
            <div [ngClass]="{'visually-hidden': !this.showFunFact}">¿Sabías que... <app-fun-facts (onLoaded)="onLoadedFunFact()"></app-fun-facts>?</div>
        </div>
    </div>
    <div class="row">
        <app-table-results [listOfResults]="listOfResults"></app-table-results>
    </div>
</div>
