<div #excelModal class="modal fade" id="excelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Descarga de informe Excel</h5>
            </div>
            <div class="modal-body">
                <ng-container *ngIf="this.requestStatus === 0">
                    <div class="alert alert-info">
                        <i class="fas fa-circle-notch fa-spin"></i>&nbsp;Cargando filtros...
                    </div>
                </ng-container>
                <ng-container *ngIf="this.requestStatus === 1">
                    <div class="row">
                        <div class="col-4">
                            <label for="yearSelection">Año</label>
                            <select name="yearSelection" id="yearSelection" class="form-select" [(ngModel)]="dto.year">
                                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="monthSelection">Mes</label>
                            <select name="monthSelection" id="monthSelection" class="form-select" [(ngModel)]="dto.month">
                                <option *ngFor="let month of months; let i = index" [value]="i + 1">{{month}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="fortnightSelection">Quincena</label>
                            <select name="fortnightSelection" id="fortnightSelection" class="form-select" [(ngModel)]="dto.fortnight">
                                <option value="1">Primera quincena</option>
                                <option value="2">Segunda quincena</option>
                            </select>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="this.requestStatus === 2">
                    <div class="alert alert-info"><i class="fas fa-circle-notch fa-spin"></i>&nbsp;Generando Excel...</div>
                </ng-container>
                <ng-container *ngIf="this.requestStatus === 3">
                    <div class="alert alert-success"><i class="fas fa-check-circle"></i>&nbsp;Fichero generado correctamente.</div>
                </ng-container>
                <ng-container *ngIf="this.requestStatus === 4">
                    <div class="alert alert-info"><i class="fas fa-check-circle"></i>&nbsp;Se ha iniciado la descarga.</div>
                </ng-container>
                <ng-container *ngIf="this.requestStatus === 5">
                    <div class="alert alert-danger"><i class="fas fa-times-circle"></i>&nbsp;Ha ocurrido un error. Inténtelo de nuevo.</div>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" *ngIf="this.requestStatus !== 2" (click)="closeModal()"><i class="fas fa-times-circle"></i>&nbsp;Cerrar</button>
                <button type="button" class="btn btn-primary" *ngIf="this.requestStatus === 1" (click)="sendExcelRequest()"><i class="fas fa-file-excel"></i>&nbsp;Solicitar informe</button>
                <button type="button" class="btn btn-secondary" *ngIf="this.requestStatus === 2" disabled><i class="fas fa-circle-notch fa-spin"></i>&nbsp;Generando...</button>
                <button type="button" class="btn btn-primary" *ngIf="this.requestStatus === 4" (click)="this.requestStatus = 1"><i class="fas fa-file-plus"></i>&nbsp;Solicitar nuevo informe</button>
                <a [href]="this.excelService.generateDownloadURL(fileName)" class="btn btn-success" *ngIf="this.requestStatus === 3" (click)="downloaded()"><i class="fas fa-file-excel"></i>&nbsp;Descargar fichero generado</a>
            </div>
        </div>
    </div>
</div>